

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
scroll-behavior: smooth;
}

.bg-mission {
    background-image: url('../assets/voyager2-interstellar.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }