body{
    background-image: linear-gradient(hsl(275, 40%, 60%), hsl(14, 87%, 59%));
    background-repeat: no-repeat;
    background-size: auto;
}
.navimage{
    border: 5px solid hsl(186, 89%, 62%);
    border-radius: 50px;
}